$primary-color: #001d26;
$secondary-color: #4099f1;
$light-color: #fff;
$grey-color:#2D2D2D;

//-------FONT SETTING-----/
$menu-fontsize: 46px;
$submenu-fontsize: 38px;

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
  }
}