.userProfile-content {
  margin-top: 20px;
  display: flex;
  .userAvatar {
    margin-right: 100px;
    img {
      display: block;
      border: 1px solid black;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  form {
    width: 100%;
    .form {
      display: grid;
      grid-template-columns: auto auto;
      .grid-item {
        h6 {
          color: rgb(105, 105, 105);
        }
        input {
          width: 80%;
          margin-bottom: 10px;
        }
      }

      margin-top: 20px;
      width: 100%;
    }
  }
}
