.Projects {
  margin: auto;
  padding-top: 5em;
  .ProjectsComponent .odd-col p {
    color: black;
  }
  .ProjectsComponent .even-col p {
    color: black;
  }
  .more-prjects button {
    color: #001d26;
    border-color: #001d26;
  }

  .project-list {
    padding-bottom: 2em;
    background: url("../../assets/images/dot_wage.png");
    background-size: auto;
    background-position: right; /* Center the image */
    background-repeat: no-repeat;
  }
  .projects-header {
    li {
      display: inline-block;
      margin: 0.3em;
      padding: 0 0.3em;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: gray;
    }
    li.active {
      color: royalblue;
      border: 1px solid royalblue;
    }
  }
}

@media (max-width: 671px) {
  .Projects {
    .projects-header {
      ul {
        padding: 0;
      }
      li {
        display: inline-block;
        margin: 0.4em;
        padding: 0 0.3em;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
        font-size: 12px;
      }
      li.active {
        color: royalblue;
        border: 1px solid royalblue;
      }
    }
  }
}
